/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21-dic-2016, 16:46:25
    Author     : johnv
*/
.widget{    
    box-shadow: #333 0px 0px 1px;
    box-shadow: #333 0px 0px 1px;
    border-radius: 5px;
    padding: 15px;
    background: #fbfbfb;
}

.d-inline-table{
    display: inline-table;
}
.w-1000px {
    width: 1000px !important;
}

/*BEGIN:: HELPER CLASS*/
/*MARGIN*/
/* font size */
.f-s-10{
    font-size: 10px !important;
}
.f-s-12{
    font-size:12px !important;
}
.f-s-15{
    font-size: 15px;
}

.border_red {
    color: #ff5050;
    border: 1px solid !important;
}

/* color */
.clr_lime {
    color: #99ff99;
}.clr_green {
    color: green;
}
.clr_white{
    color: #fff;
}
.clr_red{
    color: red;
}

.f-l{
    float: left;
}
.f-r{
    float: right;
}
/* fin font size */
.d-inline-b{
    display: inline-block;
}

.m-all-0{
    margin: 0px;
}
.m-t-0{
    margin-top: 0px;
}
.m-b-0{
    margin-bottom: 0px;
}
.m-l-0{
    margin-left: 0px;
}
.m-r-0{
    margin-right: 0px;
}
.m-t-5{
    margin-top: 5px;
}
.m-b-5{
    margin-bottom: 5px;
}
.m-l-5{
    margin-left: 5px;
}
.m-r-5{
    margin-right: 5px;
}

.m-t-10{
    margin-top: 10px;
}
.m-b-10{
    margin-bottom: 10px;
}
.m-l-10{
    margin-left: 10px;
}
.m-r-10{
    margin-right: 10px;
}

.m-t-15{
    margin-top: 15px;
}
.m-b-15{
    margin-bottom: 15px;
}
.m-l-15{
    margin-left: 15px;
}
.m-r-15{
    margin-right: 15px;
}

.m-t-20{
    margin-top: 20px;
}
.m-b-20{
    margin-bottom: 20px;
}
.m-l-20{
    margin-left: 20px;
}
.m-r-20{
    margin-right: 20px;
}

.m-t-25{
    margin-top: 25px;
}
.m-b-25{
    margin-bottom: 25px;
}
.m-l-25{
    margin-left: 25px;
}
.m-r-25{
    margin-right: 25px;
}

.m-t-30{
    margin-top: 30px;
}
.m-b-30{
    margin-bottom: 30px;
}
.m-l-30{
    margin-left: 30px;
}
.m-r-30{
    margin-right: 30px;
}

.m-t-35{
    margin-top: 35px;
}
.m-b-35{
    margin-bottom: 35px;
}
.m-l-35{
    margin-left: 35px;
}
.m-r-35{
    margin-right: 35px;
}
.m-t-40{
    margin-top: 40px;
}
.m-b-40{
    margin-bottom: 40px;
}
.m-l-40{
    margin-left: 40px;
}
.m-r-40{
    margin-right: 40px;
}
.m-t-50{
    margin-top: 50px;
}
.btnMarcaciones{
    width: 125px;
    margin-left: 62px;
}

.tdMarcaciones{
    width: 130px;
}
/*MARGIN*/

/*PADDING*/
.p-all-0{
    padding: 0px;
}
.p-t-0{
    padding-top: 0px;
}
.p-b-0{
    padding-bottom: 0px;
}
.p-l-0{
    padding-left: 0px;
}
.p-r-0{
    padding-right: 0px;
}
.p-t-5{
    padding-top: 5px;
}
.p-b-5{
    padding-bottom: 5px;
}
.p-l-5{
    padding-left: 5px;
}
.p-r-5{
    padding-right: 5px;
}

.p-t-10{
    padding-top: 10px;
}
.p-b-10{
    padding-bottom: 10px;
}
.p-l-10{
    padding-left: 10px;
}
.p-r-10{
    padding-right: 10px;
}

.p-t-15{
    padding-top: 15px;
}
.p-b-15{
    padding-bottom: 15px;
}
.p-l-15{
    padding-left: 15px;
}
.p-r-15{
    padding-right: 15px;
}

.p-t-20{
    padding-top: 20px;
}
.p-b-20{
    padding-bottom: 20px;
}
.p-l-20{
    padding-left: 20px;
}
.p-r-20{
    padding-right: 20px;
}

.p-t-25{
    padding-top: 25px;
}
.p-b-25{
    padding-bottom: 25px;
}
.p-l-25{
    padding-left: 25px;
}
.p-r-25{
    padding-right: 25px;
}

.p-t-30{
    padding-top: 30px;
}
.p-b-30{
    padding-bottom: 30px;
}
.p-l-30{
    padding-left: 30px;
}
.p-r-30{
    padding-right: 30px;
}

.p-t-35{
    padding-top: 35px;
}
.p-b-35{
    padding-bottom: 35px;
}
.p-l-35{
    padding-left: 35px;
}
.p-r-35{
    padding-right: 35px;
}
.p-t-40{
    padding-top: 40px;
}
.p-b-40{
    padding-bottom: 40px;
}
.p-l-40{
    padding-left: 40px;
}
.p-r-40{
    padding-right: 40px;
}

.p-r-10pc{
    padding-right: 10%;
}

/*PADDING*/
/*END HELPER CLASS*/
.text-bold{
    font-weight: bold !important;
}
.text-normal{
    font-weight: normal !important;
}
.a-link{
    color: #000;    
}
.a-link:hover{
    color: #000;
    text-decoration: underline;
}
.cursor-pointer{
    cursor: pointer;
}
.display-block{
    display: block;
}
.w-100{
    width: 100%;
}
a.link-normal{
    color: #4898d6 !important;
}
a.link-normal:hover{
    text-decoration: underline !important;
}
/*Panels with nav tabs.*/
.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
    border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
    margin-bottom: -1px;
}
.with-nav-tabs.panel-primary .nav-tabs > li > a,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #fff;
}
.with-nav-tabs.panel-primary .nav-tabs > .open > a,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #fff;
    background-color: #3071a9;
    border-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus {
    color: #428bca;
    background-color: #fff;
    border-color: #428bca;
    border-bottom-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #428bca;
    border-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #fff;   
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    background-color: #4a9fe9;
}
.bg-white{
    background-color:  #FFF;
}
.bg-gray{
    background-color: #f9f9f9;
}
.text-capitalize{
    text-transform: capitalize !important;
}
.text-uppercase{
    text-transform: uppercase;
}
.text-lowercase{
    text-transform: lowercase;
}
.bg-red{
    background: red;
}

.bg-gray{
    background-color: #f5f5f5 !important;
}
.bg-white{
    background-color: #FFF !important;
}

#tablaVm td:nth-child(6){
    min-width: 100px;
    word-break: break-all;
}
.min-h-150{
    min-height: 150px;
}
.min-h-300{
    min-height: 300px;
}
.disabled{
    pointer-events: none;
    opacity: 0.5;    
}
.vertical-middle{
    vertical-align: middle !important;
}
.error{
    color: #cc0033;
}

.clr-98c2d8{
    color:#98c2d8;
}

/* ESTILOS PARA CHECK BOX ANIMADOS */
.check_cami input[type="checkbox"]{
position: absolute;
right: 9000px;
}

.check_cami input[type="checkbox"] + .label-text:before{
content: "\f096";
font-family: "FontAwesome";
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;
-webkit-font-smoothing:antialiased;
width: 1em;
display: inline-block;
margin-right: 5px;
}

.check_cami input[type="checkbox"]:checked + .label-text:before{
    content: "\f14a";
    color: #2980b9;
    animation: effect 250ms ease-in;
}

.check_cami input[type="checkbox"]:disabled + .label-text{
    color: #aaa;
}

.check_cami input[type="checkbox"]:disabled + .label-text:before{
    content: "\f0c8";
    color: #ccc;
}


@keyframes effect{
    0%{transform: scale(0);}
    25%{transform: scale(1.3);}
    75%{transform: scale(1.4);}
    100%{transform: scale(1);}
}

/* ESTILOS PARA RADIO BUTTONS */
    .form-radio
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #f1f1f1;
     color: #666;
     top: 10px;
     height: 30px;
     width: 30px;
     border: 1px solid #ccc;
     border-radius: 50px;
     cursor: pointer;     
     margin-right: 7px;
     outline: none;
}
.form-radio:checked::before
{
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 11px;
     top: 7px;
     content: '\02143';
     transform: rotate(40deg);
}
.form-radio:hover
{
     background-color: #f7f7f7;
}
.form-radio:checked
{
     background-color: #f1f1f1;
}
